@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-strawberry:before {
  content: "\f100";
}
.icon-cake-14:before {
  content: "\f101";
}
.icon-cake-13:before {
  content: "\f102";
}
.icon-piece-of-cake:before {
  content: "\f103";
}
.icon-pancake:before {
  content: "\f104";
}
.icon-macarons:before {
  content: "\f105";
}
.icon-cake-12:before {
  content: "\f106";
}
.icon-lollipop-1:before {
  content: "\f107";
}
.icon-lollipop:before {
  content: "\f108";
}
.icon-cake-11:before {
  content: "\f109";
}
.icon-ice-cream-11:before {
  content: "\f10a";
}
.icon-ice-cream-10:before {
  content: "\f10b";
}
.icon-ice-cream-9:before {
  content: "\f10c";
}
.icon-ice-cream-8:before {
  content: "\f10d";
}
.icon-ice-cream-7:before {
  content: "\f10e";
}
.icon-ice-cream-6:before {
  content: "\f10f";
}
.icon-ice-cream-5:before {
  content: "\f110";
}
.icon-ice-cream-4:before {
  content: "\f111";
}
.icon-ice-cream-3:before {
  content: "\f112";
}
.icon-ice-cream-2:before {
  content: "\f113";
}
.icon-ice-cream-1:before {
  content: "\f114";
}
.icon-ice-cream:before {
  content: "\f115";
}
.icon-doughnut:before {
  content: "\f116";
}
.icon-cupcake-8:before {
  content: "\f117";
}
.icon-cupcake-7:before {
  content: "\f118";
}
.icon-cupcake-6:before {
  content: "\f119";
}
.icon-cupcake-5:before {
  content: "\f11a";
}
.icon-cupcake-4:before {
  content: "\f11b";
}
.icon-cupcake-3:before {
  content: "\f11c";
}
.icon-cupcake-2:before {
  content: "\f11d";
}
.icon-cupcake-1:before {
  content: "\f11e";
}
.icon-cupcake:before {
  content: "\f11f";
}
.icon-cake-10:before {
  content: "\f120";
}
.icon-chocolate-roll:before {
  content: "\f121";
}
.icon-cake-9:before {
  content: "\f122";
}
.icon-chocolate-1:before {
  content: "\f123";
}
.icon-chocolate:before {
  content: "\f124";
}
.icon-cake-8:before {
  content: "\f125";
}
.icon-candy-2:before {
  content: "\f126";
}
.icon-candy-1:before {
  content: "\f127";
}
.icon-candy:before {
  content: "\f128";
}
.icon-candies:before {
  content: "\f129";
}
.icon-cake-7:before {
  content: "\f12a";
}
.icon-cake-6:before {
  content: "\f12b";
}
.icon-cake-5:before {
  content: "\f12c";
}
.icon-cake-4:before {
  content: "\f12d";
}
.icon-cake-3:before {
  content: "\f12e";
}
.icon-cake-2:before {
  content: "\f12f";
}
.icon-cake-1:before {
  content: "\f130";
}
.icon-cake:before {
  content: "\f131";
}
.icon-copo-descraca:before {
  content: "\f132";
}
.icon-cone-trufado:before {
  content: "\f133";
}
